h1 {
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-align: center;
}

a {
    color: red;
    font-size: x-large;
    padding: 16px;
    display: inline-block;
    height: 25px;
    width: 500px;
    margin: 45px;
    text-align: center;
}